<!doctype html>
<head>
  <!-- BASICS -->
  <meta charset="utf-8">
  <title>WindRider</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="js/rs-plugin/css/settings.css" media="screen">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/isotope.css') }}" media="screen">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- skin -->
  <link rel="stylesheet" href="{{ url_for('static', filename='skin/default.css') }}">

</head>
  <section id="Trip_Prediction">
    <div class="Trip_Prediction">
      
      
    </div>
  </section>
 <p></p>
<div class=page>

  
   <section id="section-map" class="clearfix">
   
   
    <div class="align-center">
	<h3><b>Estimated Trips Per Year: </b> {{tpy_est}}<h6> Based on your residence and vehicle information from 2019 data</h6></h3> 
  <h3> You can improve your throughput by using the 2019 Pickup Map </h3>
	<iframe src="{{ url_for('static', filename='density.html') }}" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
  </section>
</div>

<