<!doctype html>
<head>
  <!-- BASICS -->
  <meta charset="utf-8">
  <title>WindRider</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="js/rs-plugin/css/settings.css" media="screen">
  
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/isotope.css') }}" media="screen">
 <link rel="stylesheet" href="{{ url_for('static', filename='css/flexslider.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" >
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400italic,700|Open+Sans:300,400,600,700">

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- skin -->
  <link rel="stylesheet" href="{{ url_for('static', filename='skin/default.css') }}">
  <!-- =======================================================
    Theme Name: Vlava
    Theme URL: https://bootstrapmade.com/vlava-free-bootstrap-one-page-template/
    Author: BootstrapMade.com
    Author URL: https://bootstrapmade.com
  ======================================================= -->

</head>
  <section id="intro">
    <div class="intro-content">
      <h2>Passenger Portal</h2>
      <h3>Chicago City's Ride Share Analytics</h3>
      
    </div>
  </section>
<title>Passenger Portal</title>
 <p></p>
<div class=page>
  <h2>Passenger Portal</h2>
  <div class=metanav>
    <h3>
      Please enter trip information
    </h3>

    <form id='Passenger Info' method='post'  >
      <h4 class="text-bold"><p>    Pickup Address: <input type='text' name='PU_Address' /></h4>
      </p>
	   <h4 class="text-bold"><p>    Dropoff Address: <input type='text' name='DO_Address' /></h3>
      </p>
      <h4 class="text-bold"><p>    Pickup Time: <input type='text' name='PU_Time' /></h3>
      </p>
      <h4><input type='submit' value='Submit' /></h4>
    </form>

  </div>
</div>
